* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topnav {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
}

.status-bar {
  background: rgb(60, 58, 57);
  height: 44px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(60, 58, 57);
  width: 100%;
  height: 48px;
  margin: auto;
  align-items: center;
}

.hambuger {
  border-radius: 10px;
  width: 18px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 0;
  cursor: pointer;
}

.toggle-menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(60, 58, 57, 1);
  color: white;
}

#togclose {
  position: absolute;
  right: 20px;
  top: 48px;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-family: 'inter', sans-serif;
  font-size: 32px;
  line-height: 44px;
}

.menu-list {
  border-bottom: 0.5px solid #6f6c6b;
}

.hambug-items {
  width: 100%;
  padding-top: 92px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  width: 77px;
  height: 24px;
  left: 24px;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  text-decoration: none;
}

.hambuger .logo {
  flex: 1;
}

.primary-text {
  margin-bottom: 12px;
}

h1 {
  color: hsl(25, 100%, 50%);
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: hsl(40, 100%, 94%);
  margin-bottom: 12px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.headline {
  display: flex;
  background: rgb(27, 25, 24) url(./images/bgvector.svg) no-repeat;
  background-position: 100% 100%;
  height: 628px;
  padding: 0;
  width: 100%;
}

.hero {
  padding: 120px 24px;
}

.social-icons {
  display: flex;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}

/* work-section */

/* popup-window styles */
.popup-window {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 1111;
}

.pop-up {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  width: 90%;
  top: 25px;
  position: relative;
}

.pop-list {
  display: flex;
  flex-flow: row;
  order: 2;
  margin-top: 60px;
}

.pop-cell {
  margin-right: 10px;
  border: 1px solid #3c3a39;
  padding: 0 7px;
  font-size: 13px;
}

.pop-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  order: 1;
  margin-bottom: 5px;
}

.pop-image {
  width: 100%;
  order: 2;
}

.pop-description {
  order: 4;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.img-text {
  display: flex;
  flex-flow: column-reverse;
}

.link-container {
  display: flex;
  order: 6;
}

.pop {
  display: flex;
  align-items: center;
  padding: 9px;
  height: 48px;
  color: white;
  background-color: #ff6b00;
  text-decoration: none;
  margin-right: 19px;
  font-weight: 700;
}

.popIcon {
  margin-left: 6px;
}

.pop-close {
  width: 4%;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 6%;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
}

.work-header {
  font-size: 40px;
  line-height: 52px;
  padding: 20px 0;
}

h3 {
  font-size: 40px;
  font-weight: normal;
  font-family: "Crete Round", serif;
}

.btn-card {
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  padding: 6px 12px;
  background: white;
  color: black;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-car {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 10px 10px;
  background: rgb(255, 255, 255, 0.24);
  color: white;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.5s;
}

.btn-car:hover {
  transform: scale(1.1);
}

.btn-card:hover {
  background-color: chocolate;
  color: white;
  opacity: 0.9;
}

.container {
  display: grid;
  gap: 24px 0;
}

.w-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: 1s;
}

.w-image:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 32px;
  font-family: 'Crete Round', serif;
  margin: 24px 0 12px 0;
}

.p-description {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
}

.languages {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  background: white;
  align-items: center;
}

li .languages {
  flex: 1;
}

.p-btn {
  background: rgba(255, 107, 0, 1);
  color: white;
  font-size: 17px;
  border: none;
  height: 48px;
  width: 124px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.p-btn:hover {
  background-color: rgb(255, 245, 224);
  color: rgb(245, 88, 0);
  border: 2px solid rgb(245, 88, 0);
}

.p-btn:active {
  background-color: rgb(224, 83, 4);
  color: rgba(255, 245, 224);
}

.card-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: url(./images/portfolio.png) no-repeat;
  background-size: cover;
}

.text-block {
  padding: 0 16px;
  padding-top: 110px;
}

.card-description {
  color: white;
  font-size: 16px;
  font-family: 'inter', sans-serif;
  line-height: 24px;
  font-weight: 400;
}

.new {
  color: white;
  font-size: 32px;
  margin-top: 40px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.card-btn {
  display: block;
  background: rgba(255, 107, 0, 1);
  min-height: 48px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
}

.card-btn:hover {
  background-color: rgb(255, 245, 224);
  color: rgb(245, 88, 0);
  border: 2px solid rgb(245, 88, 0);
}

.card-btn:active {
  background-color: rgba(255, 107, 0, 1);
  box-shadow: 0 5px rgb(158, 153, 153);
  transform: translateY(4px);
}

.lang {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 236px;
  padding: 0;
  list-style: none;
  align-items: center;
  color: white;
  margin-top: 10px;
}

li .lang {
  flex: 1;
  text-align: center;
  padding: 1px;
}

.title {
  text-align: center;
}

span {
  font-size: 40px;
  color: rgba(28, 26, 25, 1);
  line-height: 52px;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 26, 25, 1);
  width: 100%;
}

.about-descript {
  color: white;
  font-size: 16px;
  margin-top: 24px;
  line-height: 24px;
}

.abt-btn {
  background: rgba(255, 107, 0, 1);
  order: 2;
  padding: 12px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 70px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
  transition: 0.5s;
}

.abt-btn:hover {
  background-color: rgb(255, 245, 224);
  color: rgb(245, 88, 0);
  border: 2px solid rgb(245, 88, 0);
}

.abt-btn:active {
  background-color: rgb(224, 83, 4);
  color: rgba(255, 245, 224);
}

.about {
  width: 100%;
  padding: 120px 24px;
  background-image: url(./images/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.spaced {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  color: hsl(25, 100%, 50%);
  height: 79px;
}

.about-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 120px;
  gap: 20px;
  color: white;
}

.about-2 > div {
  width: 100%;
}

.stacks {
  padding-top: 120px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.stacks ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stacks ul,
li {
  list-style: none;
  text-align: justify;
}

.frame ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.frame ul,
li {
  list-style: none;
  margin-bottom: 20px;
}

.skills ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills ul,
li {
  list-style: none;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 42px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
}

.stacks li:first-child {
  list-style-image: url(./images/polygon.png);
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.frame li:first-child {
  list-style-image: url(./images/square.png);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skills li:first-child {
  list-style-image: url(./images/circle.png);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.contact-form {
  padding: 120px 24px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p.p-contact {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: rgba(23, 43, 77, 1);
  margin: 60px 0;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(219, 216, 215, 1);
  font-family: 'Inter', sans-serif;
  width: 100%;
  padding: 16px;
}

#name {
  margin-bottom: 24px;
}

#email {
  margin-bottom: 24px;
}

#text {
  border: none;
  width: 100%;
  background-color: rgba(251, 248, 247, 1);
  margin-bottom: 24px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

::placeholder {
  padding: 10px;
}

.contact-btn {
  padding: 14px;
  background-color: rgba(255, 107, 0, 1);
  color: white;
  font-size: 17px;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  align-items: center;
  margin-bottom: 124px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.contact-btn:hover {
  background-color: rgb(255, 245, 224);
  color: rgb(245, 88, 0);
  border: 2px solid rgb(245, 88, 0);
}

.contact:active {
  background-color: rgb(224, 83, 4);
  color: rgba(255, 245, 224);
}

form {
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(223, 225, 230, 1);
  padding-top: 15px;
}

hr {
  width: 134px;
  top: 20px;
  height: 5px;
  align-self: center;
  border-radius: 10px;
  background-color: black;
}

.title hr {
  width: 100%;
  height: 1px;
  margin-bottom: 60px;
  margin-top: 24px;
}

.lastline {
  display: none;
}

/* desktop-version */

@media only screen and (min-width: 992px) {
  .navbar {
    display: none;
  }

  .hambuger {
    display: none;
  }

  .logo {
    width: 92px;
    height: 20px;
    left: 24px;
    color: white;
    font-size: 20px;
    font-family: "inter", sans-serif;
    margin-left: 154px;
    text-decoration: none;
  }

  .menu {
    display: flex;
    padding: 20px 154px 0 0;
    font-family: 'inter', sans-serif;
  }

  .menu .mail-link4 {
    margin-top: 3px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
  }

  .menu-link4 {
    padding-right: 30px;
  }

  .menu-link2 {
    padding-right: 30px;
  }

  .menu-link3 {
    padding-right: 30px;
  }

  .menu a:hover {
    color: rgb(224, 83, 4);
  }

  .hambuger .logo {
    display: none;
  }

  .primary-text {
    margin-bottom: 12px;
  }

  .status-bar {
    display: none;
  }

  .topnav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgb(60, 58, 57);
    height: 72px;
  }

  h1 {
    color: hsl(25, 100%, 50%);
    font-family: "Crete Round", sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
  }

  .supporting-text {
    font-family: "inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: hsl(40, 100%, 94%);
    margin-bottom: 12px;
  }

  .description {
    display: block;
    width: 566px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(244, 245, 247, 1);
  }

  .headline {
    display: flex;
    background: rgb(27, 25, 24) url(./images/Illustration-header.png) no-repeat;
    background-position: right;
    height: 798px;
    padding: 0;
    margin: auto;
  }

  .hero {
    padding: 143px;
    position: relative;
  }

  .social {
    position: absolute;
    left: 40px;
    top: 143px;
    transform: translateY(200%);
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    bottom: 187px;
  }

  .social-icons li {
    margin: 0;
  }

  /* work-section */

  .work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
  }

  .work-header {
    font-size: 40px;
    font-weight: 400;
    font-family: "Crete Round", serif;
    line-height: 52px;
    padding: 20px 0;
  }

  .btn-card {
    cursor: pointer;
    display: inline-block;
    border: 1px solid;
    padding: 6px 12px;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 10px;
  }

  .btn-car {
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 10px;
    background: rgb(255, 255, 255, 0.24);
    color: white;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 10px;
  }

  .btn-card:hover {
    opacity: 0.9;
  }

  .container {
    display: grid;
    gap: 50px 0;
  }

  .project-1 {
    display: flex;
  }

  .w-image {
    width: 517px;
    margin-right: 24px;
  }

  .right-block {
    width: 380px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 32px;
    font-family: 'Crete Round', serif;
    margin: 0 0 24px 0;
  }

  .p-description {
    font-size: 15px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    width: 236px;
    background: white;
    align-items: center;
  }

  li .languages {
    flex: 1;
  }

  .card-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card {
    position: relative;
    display: flex;
    background: none;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }

  .card button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .card:not(.item1) button {
    display: none;
  }

  .item1 {
    background: url(./images/Img-Placeholder.png) no-repeat;
  }

  .item2 {
    background: url(./images/Calender.png) no-repeat;
  }

  .item3 {
    background: url(./images/tree.png) no-repeat;
  }

  .item4 {
    background: url(./images/portfolio.png) no-repeat;
    background-size: cover;
  }

  .item5 {
    background: url(./images/Calender.png) no-repeat;
  }

  .item6 {
    background: url(./images/tree.png) no-repeat;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 16px;
    height: 100%;
  }

  .item1 .text-block {
    z-index: -2;
  }

  .lang {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    width: 236px;
    list-style: none;

    /* background: rgba(255, 255, 255, 0.24); */
    align-items: center;
    color: white;
    margin-top: 10px;
  }

  li .lang {
    flex: 1;
    text-align: center;
    padding: 1px;
  }

  .title {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .title hr {
    height: 1px;
    width: 64%;
    margin-left: 20px;
    margin-bottom: 43px;
  }

  span {
    font-size: 40px;
    color: rgba(28, 26, 25, 1);
    line-height: 52px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 25, 24);
  }

  .about-descript {
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    margin-top: 24px;
    line-height: 32px;
    top: 232px;
  }

  .abt-btn {
    background: rgba(255, 107, 0, 1);
    order: 2;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 70px;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: bold;
  }

  .about {
    width: 100%;
    background-image: url(./images/aboutvec.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 40% 50%;
  }

  .spaced {
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    color: hsl(25, 100%, 50%);
    height: 79px;
  }

  .about-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px;
    width: 100%;
    color: white;
    border-top: 1px solid white;
  }

  .about-2 > div {
    width: 100%;
  }

  .abt-content {
    width: 40%;
    padding-left: 80px;
  }

  .stacks {
    padding-top: 0;
    border: none;
    margin-bottom: 60px;
  }

  .stacks ul {
    align-items: flex-start;
  }

  .frame ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .skills ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px auto;
  }

  .stacks li:first-child {
    list-style-image: url(./images/polygon.png);
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .frame li:first-child {
    list-style-image: url(./images/square.png);
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills li:first-child {
    list-style-image: url(./images/circle.png);
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .contact-form {
    display: flex;

    /* flex-flow: row wrap; */
    width: 100%;
    padding: 120px;
  }

  p.p-contact {
    margin: 0;
    width: 54%;
    text-align: start;
  }

  form {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 150px;
  }

  #name {
    width: 96%;
  }

  #email {
    width: 96%;
  }

  #text {
    width: 96%;
    height: 98px;
  }

  #bottom {
    display: none;
  }

  .lastline {
    width: 100%;
    height: 1px;
  }

  .contact-btn {
    width: 122px;
    height: 48px;
    font-size: 14px;
    padding: 12px;
  }

  .contact-section-01 {
    display: flex;
  }

  .pop-up {
    flex-flow: row wrap;
    justify-content: flex-start;
    height: 90vh;
  }

  .headContainer {
    display: flex;
    flex-flow: column;
  }

  .pop-list {
    margin: 0;
  }

  .img-text {
    display: flex;
    flex-flow: row-reverse;
  }

  .btn-text {
    margin-left: 20px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: space-between;
  }

  .link-container {
    margin-top: 157px;
  }

  .pop-close {
    width: 1%;
    top: 6%;
  }

  .popup-window {
    padding: 22px;
    height: 100vh;
  }
}
