* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.topnav {
  display: none;
}

body {
  max-width: 480px;
  font-family: "Poppins", sans-serif;
  background: white;
}

.status-bar {
  background: rgb(60, 58, 57);
  height: 44px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: rgb(60, 58, 57);
  width: 100%;
  height: 48px;
  margin: auto;
  align-items: center;
}

.hambuger {
  border-radius: 10px;
  width: 18px;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 0;
}

.logo {
  width: 77px;
  height: 24px;
  left: 24px;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  text-decoration: none;
}

.hambuger .logo {
  flex: 1;
}

.primary-text {
  margin-bottom: 12px;
}

h1 {
  color: hsl(25, 100%, 50%);
  font-family: "Crete Round", sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: hsl(40, 100%, 94%);
  margin-bottom: 12px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.headline {
  display: flex;
  background: hsl(20, 6%, 10%) url(./images/bgvector.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 956px;
  padding: 0;
  width: 100%;
  margin: auto;
}

.hero {
  padding: 120px 24px;
}

.social-icons {
  display: flex;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  list-style: none;
  justify-content: space-around;
}

/* work-section */

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
}

.work-header {
  font-size: 40px;
  line-height: 52px;
  padding: 20px 0;
}

.btn-card {
  cursor: pointer;
  display: inline-block;
  border: 1px solid;
  padding: 6px 12px;
  background: white;
  color: black;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-car {
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 10px 10px;
  background: rgb(255, 255, 255, 0.24);
  color: white;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-card:hover {
  opacity: 0.9;
}

.container {
  display: grid;
  margin: 0 auto;
  gap: 50px 0;
  width: 317px;
}

.w-image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 32px;
  font-family: 'Crete Round', serif;
  margin: 24px 0 12px 0;
}

.p-description {
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 24px;
}

.languages {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 10px;
  width: 236px;
  background: white;
  align-items: center;
}

li .languages {
  flex: 1;
}

.p-btn {
  background: rgba(255, 107, 0, 1);
  color: white;
  font-size: 17px;
  border: none;
  height: 48px;
  width: 124px;
  font-weight: bold;
}

.item1 {
  grid-area: card1;
}

.item2 {
  grid-area: card2;
}

.item3 {
  grid-area: card3;
}

.item4 {
  grid-area: card4;
}

.item5 {
  grid-area: card5;
}

.item6 {
  grid-area: card6;
}

.card-works {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "card1 card1 card1 card1 card1 card1"
    "card2 card2 card2 card2 card2 card2"
    "card3 card3 card3 card3 card3 card3"
    "card4 card4 card4 card4 card4 card4"
    "card5 card5 card5 card5 card5 card5"
    "card6 card6 card6 card6 card6 card6";
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background: url(./images/portfolio.png) no-repeat;
  width: 317px;
  height: 386px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.text-block {
  padding: 38px 16px;
}

.card-description {
  color: white;
  font-size: 16px;
  font-family: 'inter', sans-serif;
  line-height: 24px;
  font-weight: 400;
}

.new {
  color: white;
  font-size: 32px;
  margin-top: 40px;
  font-family: 'Crete Round', serif;
  font-weight: 400;
}

.card-btn {
  display: block;
  background: rgba(255, 107, 0, 1);
  min-height: 48px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
}

.lang {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 236px;
  list-style: none;

  /* background: rgba(255, 255, 255, 0.24); */
  align-items: center;
  color: white;
  margin-top: 10px;
}

li .lang {
  flex: 1;
  text-align: center;
  padding: 1px;
}

.title {
  width: 315px;
  left: 24px;
  top: 120px;
  align-items: center;
}

span {
  font-size: 40px;
  color: rgba(28, 26, 25, 1);
  line-height: 52px;
}

.about-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 26, 25, 1);
  width: 100%;
}

.about-descript {
  color: white;
  font-size: 16px;
  margin-top: 24px;
  line-height: 24px;
}

.abt-btn {
  background: rgba(255, 107, 0, 1);
  order: 2;
  width: 161px;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 70px;
  color: white;
  font-size: 17px;
  border: none;
  font-weight: bold;
}

.about {
  width: 100%;
  padding: 120px 24px;
  background-image: url(./images/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.spaced {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 72px;
  width: 327px;
  line-height: 88px;
  color: hsl(25, 100%, 50%);
  height: 79px;
}

.about-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 120px;
  width: 100%;
  color: white;
}

.about-2 > div {
  width: 100%;
}

.stacks {
  padding-top: 120px;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.stacks ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin: 20px auto;
}

.stacks ul,
li {
  list-style: none;
  text-align: justify;
  margin-bottom: 20px;
}

.frame ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}

.frame ul,
li {
  list-style: none;
  margin-bottom: 20px;
}

.skills ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin: 20px auto;
}

.skills ul,
li {
  list-style: none;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 42px;
  font-size: 22px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
}

.stacks li:first-child {
  list-style-image: url(./images/polygon.png);
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.frame li:first-child {
  list-style-image: url(./images/square.png);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skills li:first-child {
  list-style-image: url(./images/circle.png);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.contact-form {
  padding: 100px 60px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

p.p-contact {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: rgba(23, 43, 77, 1);
  width: 329px;
  margin-bottom: 60px;
  margin-left: 20px;
}

input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgba(219, 216, 215, 1);
  font-family: 'Inter', sans-serif;
}

#name {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
}

#email {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
}

#text {
  width: 327px;
  height: 114px;
  border: none;
  background-color: rgba(251, 248, 247, 1);
  margin-bottom: 24px;
  font-family: 'inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

::placeholder {
  padding: 10px;
}

.contact-btn {
  width: 131px;
  height: 48px;
  background-color: rgba(255, 107, 0, 1);
  color: white;
  font-size: 17px;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  align-items: center;
  margin-bottom: 124px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.contact-btn:hover {
  background-color: bisque;
  color: black;
}

form {
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(223, 225, 230, 1);
  padding-top: 15px;
}

hr {
  width: 134px;
  top: 20px;
  height: 5px;
  align-self: center;
  border-radius: 10px;
  background-color: black;
}

.title hr {
  width: 100%;
  height: 1px;
}

/* desktop-version */

@media only screen and (min-width: 760px) {
  .navbar {
    display: none;
  }

  .hambuger {
    display: none;
  }

  .logo {
    width: 92px;
    height: 20px;
    left: 24px;
    color: white;
    font-size: 20px;
    font-family: "inter", sans-serif;
    margin-left: 154px;
    text-decoration: none;
  }

  .menu {
    display: flex;
    padding: 20px 154px 0 0;
    font-family: 'inter', sans-serif;
  }

  .menu .mail-link {
    margin-top: 3px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
  }

  .menu-link {
    padding-right: 30px;
  }

  .menu-link2 {
    padding-right: 30px;
  }

  .menu-link3 {
    padding-right: 30px;
  }

  .hambuger .logo {
    display: none;
  }

  .primary-text {
    margin-bottom: 12px;
  }

  .status-bar {
    display: none;
  }

  .topnav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1349px;
    background-color: rgb(60, 58, 57);
    height: 72px;
  }

  h1 {
    color: hsl(25, 100%, 50%);
    font-family: "Crete Round", sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 81px;
  }

  .supporting-text {
    font-family: "inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: hsl(40, 100%, 94%);
    margin-bottom: 12px;
  }

  .description {
    display: block;
    width: 566px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: rgba(244, 245, 247, 1);
  }

  .headline {
    display: flex;
    background: rgba(28, 26, 1) url(./images/Illustration-header.png) no-repeat;
    background-position: right;
    height: 798px;
    padding: 0;
    width: 1349px;
    margin: auto;
  }

  .hero {
    padding: 143px;
  }

  .social-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 40px;
    bottom: 187px;
  }

  .social-icons li {
    margin: 0;
  }

  /* work-section */

  .work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 0 143px;
  }

  .work-header {
    width: 315px;
    font-size: 40px;
    font-weight: 400;
    font-family: "Crete Round", serif;
    line-height: 52px;
    padding: 20px 0;
  }

  .btn-card {
    cursor: pointer;
    display: inline-block;
    border: 1px solid;
    padding: 6px 12px;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 10px;
  }

  .btn-car {
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: 10px 10px;
    background: rgb(255, 255, 255, 0.24);
    color: white;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    margin-right: 10px;
  }

  .btn-card:hover {
    opacity: 0.9;
  }

  .container {
    display: grid;
    margin: 0 auto;
    gap: 50px 0;
    width: 317px;
  }

  .project-1 {
    display: flex;
  }

  .w-image {
    width: 517px;
    margin-right: 24px;
  }

  .right-block {
    width: 380px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 32px;
    font-family: 'Crete Round', serif;
    margin: 0 0 24px 0;
  }

  .p-description {
    font-size: 15px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 24px;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    width: 236px;
    background: white;
    align-items: center;
  }

  li .languages {
    flex: 1;
  }

  .card-works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
    gap: 20px;
    margin-bottom: 130px;
  }

  .card {
    position: relative;
    display: flex;
    background: none;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .card button {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .card:not(.item1) button {
    display: none;
  }

  .item1 {
    background: url(./images/Img-Placeholder.png) no-repeat;
  }

  .item2 {
    background: url(./images/Calender.png) no-repeat;
  }

  .item3 {
    background: url(./images/tree.png) no-repeat;
  }

  .item4 {
    background: url(./images/portfolio.png) no-repeat;
    background-size: cover;
  }

  .item5 {
    background: url(./images/Calender.png) no-repeat;
  }

  .item6 {
    background: url(./images/tree.png) no-repeat;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 16px;
    height: 100%;
  }

  .item1 .text-block {
    z-index: -2;
  }

  .lang {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    width: 236px;
    list-style: none;

    /* background: rgba(255, 255, 255, 0.24); */
    align-items: center;
    color: white;
    margin-top: 10px;
  }

  li .lang {
    flex: 1;
    text-align: center;
    padding: 1px;
  }

  .title {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .title hr {
    height: 1px;
    width: 70%;
  }

  span {
    font-size: 40px;
    color: rgba(28, 26, 25, 1);
    line-height: 52px;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(28, 26, 25, 1);
    width: 1349px;
  }

  .about-descript {
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    margin-top: 24px;
    line-height: 32px;
    width: 566px;
    top: 232px;
  }

  .abt-btn {
    background: rgba(255, 107, 0, 1);
    order: 2;
    width: 161px;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 70px;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: bold;
  }

  .about {
    width: 100%;
    padding: 120px 142px;
    background-image: url(./images/aboutvec.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
  }

  .spaced {
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 72px;
    width: 327px;
    line-height: 88px;
    color: hsl(25, 100%, 50%);
    height: 79px;
  }

  .about-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px 24px;
    width: 100%;
    color: white;
    border-top: 1px solid white;
  }

  .about-2 > div {
    width: 100%;
  }

  .stacks {
    padding-top: 0;
    border: none;
    margin-bottom: 60px;
  }

  .frame ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
  }

  .skills ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin: 20px auto;
  }

  .stacks li:first-child {
    list-style-image: url(./images/polygon.png);
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }

  .frame li:first-child {
    list-style-image: url(./images/square.png);
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .skills li:first-child {
    list-style-image: url(./images/circle.png);
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  footer {
    display: flex;
    width: 1349px;
    flex-flow: row;
    justify-content: space-around;
  }

  .contact-form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  p.p-contact {
    width: 365px;
  }

  form {
    display: flex;
    flex-flow: column;
    width: 54%;
    margin-left: 20px;
    margin-bottom: 150px;
  }

  #name {
    width: 96%;
  }

  #email {
    width: 96%;
  }

  #text {
    width: 96%;
  }

  #bottom {
    display: none;
  }

  .lastline {
    width: 100%;
    height: 1px;
  }

  .contact-icons {
    border-top: none;
  }
}
