* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  body {
    max-width: 480px;
    font-family: "Poppins", sans-serif;
    background: white;
  }
  
  .status-bar {
    background: rgb(60, 58, 57);
    height: 44px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background: rgb(60, 58, 57);
    width: 100%;
    height: 48px;
    margin: auto;
    align-items: center;
  }
  
  .hambuger {
    border-radius: 10px;
    width: 18px;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  
  .logo {
    width: 77px;
    height: 24px;
    left: 24px;
    color: white;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .hambuger .logo {
    flex: 1;
  }
  
  .primary-text {
    margin-bottom: 12px;
  }
  
  h1 {
    color: hsl(25, 100%, 50%);
    font-family: "Crete Round", sans-serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
  }
  
  .supporting-text {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: hsl(40, 100%, 94%);
    margin-bottom: 12px;
  }
  
  .description {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
  
  .headline {
    display: flex;
    background: hsl(20, 6%, 10%) url(images/bgvector.svg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 956px;
    padding: 0;
    width: 100%;
    margin: auto;
  }
  
  .hero {
    padding: 120px 24px;
  }
  
  .social-icons {
    display: flex;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    list-style: none;
    justify-content: space-around;
  }
